body {
  font-family: "Arial Black", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.text-pink {
  color: rgb(255, 192, 203);
}

.text-skyblue {
  color: skyblue;
}
#name p {
  font-weight: bold;
}
#name p {
  font-weight: bold;
}
